/*
Theme Name:	 	Nooijen Web Solutions (child)
Theme URI:		https://www.nooijensolutions.nl
Description:	GeneratePress child theme for the Nooijen Solutions framework
Author:			Nooijen Solutions
Author URI:	 	https://www.nooijensolutions.nl
Template:		generatepress
Version:		1.0
*/

/* CSS included by framework*/
.comments-area {
	display: none;
}
#masthead {
	display:none;
}
	
/* Custom CSS below */